<form novalidate [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()" class="sign-in-form">
  <div class="row-control">
      <mat-form-field>
        <label>
          <input matInput placeholder="Username" formControlName="username"
                 [errorStateMatcher]="matcher">
        </label>
        <mat-error *ngIf="signUpForm.controls.username.touched && signUpForm.controls.username.invalid">
          <span *ngIf="signUpForm.controls.username.errors.required">
            Please enter your username
          </span>
          <span
            *ngIf="signUpForm.controls.username.errors.minlength || signUpForm.controls.username.errors.maxlength">
                      Length form 6 to 20 character!
                    </span>
          <span *ngIf="signUpForm.get('username').hasError('pattern')">
                      Only charater accepted
                    </span>
        </mat-error>
      </mat-form-field>
  </div>
  <div class="row-control">
    <mat-form-field>
      <label>
        <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
      </label>
      <mat-error *ngIf="signUpForm.invalid && signUpForm.touched">
                  <span *ngIf="signUpForm.get('email').hasError('required')">
                    Enter your email!
                  </span>
        <span *ngIf="signUpForm.get('email').hasError('email')">
                    Email address not valid!
                  </span>
      </mat-error>
    </mat-form-field>
  </div>
  <div formGroupName="pwGroup">
    <div class="row-control">
      <mat-form-field>
        <label>
          <input matInput placeholder="Password" formControlName="password" type="password"
                 [errorStateMatcher]="matcher">
        </label>
        <mat-error *ngIf="signUpForm.touched && signUpForm.get('pwGroup').invalid">
                    <span *ngIf="signUpForm.get('pwGroup').get('password').hasError('required')">
                      Please enter your password!
                    </span>
          <span
            *ngIf="signUpForm.get('pwGroup').get('password').hasError('minlength') ||
                      signUpForm.get('pwGroup').get('password').hasError('maxlength')">
                      Length from 6 to 50
                    </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field>
        <label>
          <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password"
                 [errorStateMatcher]="matcher">
        </label>
        <mat-error *ngIf="signUpForm.hasError('passwordNotMatch', 'pwGroup')">
          Password not match
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row-control">
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="host">Host</mat-option>
        <mat-option value="renter">Renter</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="example-button-row">
    <button mat-raised-button color="primary" type="submit" class="login-button">Signup</button>
  </div>
</form>
